params.condaenv = '/projects/chuang-lab/jnh/miniconda3/envs/flower'
params.data_path = "'/projects/chuang-lab/jnh/flower/data'"
params.moviespath = "/projects/chuang-lab/jnh/flower/data/movies/"

params.nbins=1000
params.shellwidth=5

process {
    cpus = 1
    time = '30m'
    memory = '2GB'
}

executor {
    name = 'pbs'
    pollInterval = '30 sec'
    jobName = 'flower'
}